src/assets/images/futurelife.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/futurelife.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/futurelife-mobile.mp4 filter=lfs diff=lfs merge=lfs -text
